@page
@model ZPool.Pages.Notification.GetNotificationModel
@{
}
  
<h1>Notifications</h1>
  </br></br>
@*@foreach (var b in Model.Rides)
    {
        <div> @b </div>
      }*@
@*<h4 style="color:red"> List of Ride bookings</h4>*@
<table class="table">
    <thead>
        <tr>
            @*<th> BookingID </th>*@
            <th> Date & Time </th>
            <th> From</th>
            <th> To </th>
            <th> Passenger</th>
            <th> Driver</th>
            <th> Car</th>
            <th> Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Bookings != null)
        {
            @foreach (var item in Model.Bookings)
            {
                @if(item.Date.Day> item.Date.Day-5)
                    { 
        


                <tr>
                    @*<td>  @item.BookingID</td>*@
                    <td>  @item.Date  </td>
                    <td>  @item.PickUpLocation </td>
                    <td>  @item.DropOffLocation </td>
                    <td>  @item.AppUser </td>
                    <td>  @item.Ride.Car.AppUser.UserName </td>
                    <td>  @item.Ride.Car.NumberPlate </td>
                    <td>  @item.BookingStatus </td>

            @if (Model.LoggedInUser.Id == item.AppUserID)
            {
                @if (item.BookingStatus == "Accepted")
                {
                    <td>
                        <div class="form group">
                            <form asp-page-handler="Cancel" method="post">
                                <button class="btn btn-primary">Cancel</button>
                                <input type="hidden" name="id" value="@item.BookingID" />
                            </form>
                        </div>
                    </td>
                }


            }
           
            @if (item.Ride.Car.AppUserID == Model.LoggedInUser.Id)
            {
                @if (item.BookingStatus == "Pending")
                {
                    <td>
                        <div class="form group">
                            <form asp-page-handler="Accept" method="post">
                                <button class="btn btn-primary">Accept</button>
                                <input type="hidden" name="id" value="@item.BookingID" />
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="form group">
                            <form asp-page-handler="Reject" method="post">
                                <button class="btn btn-primary">Reject</button>
                                <input type="hidden" name="id" value="@item.BookingID" />
                            </form>
                        </div>
                    </td>
                }

            }

        </tr>
                }
            }
        }
</table>
