@page
@model ZPool.Pages.Messages.MessagesTestPageModel
@{
}

<table>
    @foreach (var m in Model.MySentMessages)
    {
        <tr>
            <td> Sender: @m.SenderId, Receiver: @m.ReceiverId, Text: @m.MessageBody, Sent: @m.SendingDate
            </td>
        </tr>

    }
</table>
<hr/>
<form method="post">
    <span asp-validation-for="NewMessage" class="text-danger"></span>
    <input asp-for="NewMessage.SenderId" value="@Model.CurrentUser.Id" hidden />
    From: @Model.CurrentUser.Id (Me)<br/>
    To: <input type="number" asp-for="NewMessage.ReceiverId" /><br/>
    Text: <input type="text" asp-for="NewMessage.MessageBody" /><br/>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<hr/>
<table>
    @foreach (var m in Model.MyReceivedMessages)
    {
        <tr>
            <td>
                @if (m.IsRead == false)
                {
                    <p class="text-danger">
                        Sender: @m.SenderId, Receiver: @m.ReceiverId, Text: @m.MessageBody, Sent: @m.SendingDate
                    </p>
                    
                }
                else
                {
                    <p>
                        Sender: @m.SenderId, Receiver: @m.ReceiverId, Text: @m.MessageBody, Sent: @m.SendingDate
                    </p>
                }
                
               


            </td>
        </tr>

    }
</table>