@page
@model ZPool.Pages.Rides.GetAllRidesModel
@{
    ViewData["Title"] = "GetAllRides";
}

<div>
    <a asp-page="CreateRide"> Create a Ride</a>
</div>


<div>
    <a asp-page="EditRide"> Edit a Ride</a>
</div>

<div>
    <a asp-page="DeleteRide"> Delete a Ride</a>
</div>


<h4 style="color:black"> List of Rides</h4>

<!-- Search box -->
<div class="container">
    <div class="row border mb-2 rounded-border">
        <div class="col-auto border-right bg-light" style="display: flex; align-items: center; border-radius: 18px 0 0 18px">
            <p class="m-0">Filter rides: </p>
        </div>

        <div class="col my-2">
            <form class="form-inline">
                
                    <div class="form-group">
                        <label class="mx-2">From: </label>
                        <input type="text" asp-for="@Model.RideCriteria.DepartureLocation" class="form-control rounded-border" style="max-width: 13rem" placeholder="Copenhagen" />
                    </div>
                    <div class="form-group">
                        <label class="mx-2">To: </label>
                        <input type="text" asp-for="@Model.RideCriteria.DestinationLocation" class="form-control rounded-border" style="max-width: 13rem" placeholder="Zealand, Roskilde" />
                    </div>
                    <div class="form-group">
                        <label class="mx-2">Date: </label>
                        <input asp-for="@Model.RideCriteria.StartTime" class="form-control rounded-border" style="max-width: 13rem" />
                    </div>
                    <button type="submit" class="btn btn-yellow mx-2">Filter</button>
                    <a asp-page="GetAllRides" class="btn btn-outline-dark mx-2 rounded-border">Clear Filter</a>
                
            </form>
        </div>
    </div>
</div>
<!-- Search box end -->


<table class="table">
    <thead>
        <tr>
            <th> RideID </th>
            <th> StartTime </th>
            <th> DepartureLocation</th>
            <th> DestinationLocation </th>
            <th> SeatsAvailable</th>
            <th> CarID</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Rides)
        {
            <tr>
                <td>  @item.RideID</td>
                <td>  @item.StartTime  </td>
                <td>  @item.DepartureLocation </td>
                <td>  @item.DestinationLocation </td>
                <td>  @item.SeatsAvailable </td>
                <td>  @item.CarID </td>
                <td>
                    <a asp-page="Ride" asp-route-id="@item.RideID">Details</a>|
                    <a asp-page="EditRide" asp-route-id="@item.RideID">Edit</a>|
                    <a asp-page="DeleteRide" asp-route-id="@item.RideID">Delete</a> |
                </td>
            </tr>
        }

</table>

<div>
    <a asp-page="Index">Back to List</a>
</div>
