@page "{id}"
@using UserManagementTestApp.Models
@using ZPool.Models
@using ZPool.Services.Interface
@model ZPool.Pages.Rides.RideModel
@inject IRideService RideService;
@{
    ViewData["Title"] = "View Ride";
}

<div class="container align-content-center pt-4">
    <div class="row" style="max-width: 1100px">
        <div class="col col-md-8 bg-light p-3" style="border-radius: 15px">
            <ul class="list-unstyled">
                <li class="h4 mb-0 align-middle">@Model.Ride.DepartureLocation</li>
                <li class="align-middle pl-4 py-3"><img src="/images/icons/arrow_down_24dp.svg" />
                <li class="h4 mb-0 align-middle">@Model.Ride.DestinationLocation</li>
            </ul>
            <p>@Model.Ride.StartTime.ToString("dddd, dd.MM.yyyy HH:mm")</p>
        </div>
        <div class="col-1"></div>
        <div class="col col-md-3 bg-light p-3" style="border-radius: 15px">
            <div class="text-center">
                <h5>Available seats:</h5>
                <h1>
                   @Model.Ride.SeatsAvailable
                </h1>
                <div class="mt-5">
                    <form method="post">

                        @if (Model.CurrentUser == null)
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/Rides/Ride/@Model.Ride.RideID">
                                You must be logged in to book a ride.
                            </a>
                        }
                        else if (Model.CurrentUser != null && Model.CurrentUser.Id == Model.Ride.Car.AppUserID)
                        {
                            <button disabled class="btn rounded-border btn-outline-dark tooltip">
                                Book ride
                                <span class="tooltiptext">You can't book your own ride.</span>
                            </button>
                        }
                        else
                        {
                            <input type="number" asp-for="@Model.RideId" hidden />
                            <button type="submit" class="btn btn-yellow">Book ride</button>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 4rem">
        <div class="col col-md-4">
            <div style="max-width: 15rem; max-height: 15rem">
                @if (Model.Ride.Car.AppUser.AvatarName != null)
                {
                    <img src="/images/@Model.Ride.Car.AppUser.AvatarName" style="max-width: 100%; object-fit: contain" />
                }
                else
                {
                    <img src="/images/userimage_blank.png" style="max-width: 100%; object-fit: contain" />
                }
            </div>
        </div>
        <div class="col col-md-8">
            <ul class="list-unstyled">
                <li><h4>@Model.Ride.Car.AppUser.UserName</h4></li>
                <li>Car: @Model.Ride.Car</li>

                @if (Model.CurrentUser != null)
                {
                    <li>
                        <form method="post" asp-page-handler="Send" class="mt-3">
                            <div class="form-group" style="width: 15rem">
                                <input hidden asp-for="RideId" value="@Model.RideId" />
                                <input hidden asp-for="Message.SenderId" value="@Model.CurrentUser.Id" />
                                <input hidden asp-for="Message.ReceiverId" value="@Model.Ride.Car.AppUserID" />
                                <textarea rows="4" class="form-control" asp-for="Message.MessageBody" placeholder="Send me a message"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-yellow rounded-border">Send message</button>
                            </div>
                        </form>
                    </li>
                }

            </ul>
        </div>
    </div>
    
    @if (Model.CurrentUser != null)
    {
        @if (Model.Ride.Car.AppUserID == Model.CurrentUser.Id)
        {
            <div class="row pt-5">
                <div class="col d-flex justify-content-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-primary rounded-border" asp-page="EditRide" asp-route-id="@Model.RideId">Edit ride</a>
                        </li>
                        <li class="list-inline-item">

                            <!-- Button trigger -->
                            <button type="button" class="btn btn-outline-danger rounded-border" data-toggle="modal" data-target="#deleteRide">
                                Delete ride
                            </button>

                            <!-- Modal pop-up -->
                            <div class="modal fade" id="deleteRide" tabindex="-1" role="dialog" aria-labelledby="deleteRideLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteRideLabel">Delete this ride?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-bold">
                                            On: @Model.Ride.StartTime.Date.ToString("dd.MM.yyyy")<br/>
                                            From: @Model.Ride.DepartureLocation<br/>
                                            To: @Model.Ride.DestinationLocation<br/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form method="post">
                                                <input hidden asp-for="RideId"/>
                                                <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete ride</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }
    
</div>