@page
@model ZPool.Areas.Identity.Pages.Account.Manage.BookingsForOneRideModel
@{
    ViewData["Title"] = "My Rides";
    ViewData["ActivePage"] = ManageNavPages.MyRides;
}

<h3> Who book the following ride</h3>
<div>

    <hr />
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2">  Start  </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.StartTime)  </dd>

            <dt class="col-sm-2">  From </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.DepartureLocation) </dd>

            <dt class="col-sm-2"> To  </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.DestinationLocation) </dd>

            <dt class="col-sm-2"> By  </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.Car) </dd>
        </dl>

        <hr />

        <input type="hidden" asp-for="MyRide.RideID" />

    </form>



    @*@if (Model != null)
    {
        @foreach (var b in Model.BookingsOfOneRide)
        {
            <tr>
                <td>  @b.AppUser.FirstName </td>
                <td>  @b.AppUser.LastName </td>
                <td>  @b.AppUser.Gender </td>
                <td>  @b.BookingStatus </td>
                <td>  <a asp-page="./BookingsForOneRide" asp-route-id="@b.RideID">Bookings of the ride</a> </td>
                <td>  @b.Bookings </td>
                <td>  <a href="/Rides/EditRide/@r.RideID" class="text-primary">Edit</a>  </td>
                <td>  <a asp-page="./DeleteMyRide" asp-route-id="@r.RideID" class="text-danger">Cancel</a>  </td>
            </tr>
        }
    }*@






    <a asp-page="./MyRides">Back to List</a>
</div>