@page
@model ZPool.Areas.Identity.Pages.Account.Manage.MyBookingsModel
@{
    ViewData["Title"] = "My Bookings";
    ViewData["ActivePage"] = ManageNavPages.MyBookings;
}


<h3 style="color:red"> My Bookings</h3>

<table class="table">
    <thead>
        <tr>
            <th> Start Time  </th>
            <th> Departure </th>
            <th> Destination </th>
            <th> Status </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var b in Model._myBookings)
            {
                <tr>
                    <td>  @b.Date </td>
                    <td>  @b.PickUpLocation </td>
                    <td>  @b.DropOffLocation </td>
                    @*<td>  @b.Confirmed </td>*@
                </tr>
            <td>
                <a asp-page="CancleBooking" asp-route-id="@b.RideID">Delete</a> |
            </td>
        }
        }
    </table>