@page
@model ZPool.Areas.Identity.Pages.Account.Manage.MyCarsModel
@{
    ViewData["Title"] = "My Cars";
    ViewData["ActivePage"] = ManageNavPages.MyCars;
}
<h3> My Cars</h3>
</hr></br>
<p>
    <a asp-page="./CreateCar" class="btn btn-outline-success rounded-border">Add New Car</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th> Color </th>
        <th> Brand </th>
        <th> Model </th>
        <th> Number of Seats </th>
        <th> Plate Number </th>  
    </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        @foreach (var item in Model.Cars)
        {

        <tr>
            <td>  @item.Color </td>
            <td>  @item.Brand </td>
            <td>  @item.Model </td>
            <td>  @item.NumberOfSeats </td>
            <td>  @item.NumberPlate </td>
            <td>  <a asp-page="./EditCar" asp-route-id="@item.CarID">Edit</a> </td>
            <td>  <a asp-page="./DeleteCar" asp-route-id="@item.CarID" class="text-danger">Delete </a> </td>
        </tr>

        }
    }
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}