@page
@model ZPool.Areas.Identity.Pages.Account.Manage.MyRidesModel
@{
    ViewData["Title"] = "My Rides";
    ViewData["ActivePage"] = ManageNavPages.MyRides;
}

<h3> My Rides</h3>
</br>

<a asp-page="/Cars/Create">Create New Ride</a>

</br></br>

<table class="table">
    <thead>
        <tr>
            <th> Start Time  </th>
            <th> Departure </th>
            <th> Destination </th>
            <th> Car </th>
            <th> Received Bookings</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var r in Model._myRidesList)
            {
                <tr>
                    <td>  @r.StartTime </td>
                    <td>  @r.DepartureLocation </td>
                    <td>  @r.DestinationLocation </td>
                    <td>  @r.Car.Brand  @r.Car.Model </td>
                    <td>  <a asp-page="./WhoBookTheRide" asp-route-id="@r.RideID">Who book the ride</a> </td>
                    <td></td>
                    <td>  <a href="/Rides/Ride/@r.RideID" class="text-primary">Details</a>  </td>
                    <td>  <a href="/Rides/EditRide/@r.RideID" class="text-primary">Edit</a>  </td>
                    <td>  <a asp-page="./DeleteMyRide" asp-route-id="@r.RideID" class="btn btn-danger">Cancel</a>  </td>
                </tr>
            }
        }
</table>