@page
@model ZPool.Areas.Identity.Pages.Account.Manage.MyRidesModel
@{
    ViewData["Title"] = "My Rides";
    ViewData["ActivePage"] = ManageNavPages.MyRides;
}

<h3> My Rides</h3>
</hr></br>
<p>
    <a asp-page="/Rides/CreateRide" class="btn btn-outline-success rounded-border">Add New Ride</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th @*style="width:10"*@> Date & Time </th>
            <th @*style="width:100*@> From </th>
            <th @*style="width:100*@> To </th>
            <th @*style="width:100*@> Car</th>
            <th @*style="width:10*@> Seats Available </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var r in Model._myRidesList)
            {
                <tr>
                    <td>  @r.StartTime </td>
                    <td>  @r.DepartureLocation </td>
                    <td>  @r.DestinationLocation </td>
                    <td>  @r.Car.Brand  @r.Car.Model </td>
                    <td>  @r.SeatsAvailable</td>
                    <td>  <a asp-page="./WhoBookTheRide" asp-route-id="@r.RideID">Bookings from</a> </td>
                    <td>  <a href="/Rides/Ride/@r.RideID" class="text-primary">Details</a>  </td>
                    <td>  <a href="/Rides/EditRide/@r.RideID" class="text-primary">Edit</a>  </td>
                    <td>  <a asp-page="./DeleteMyRide" asp-route-id="@r.RideID" class="btn btn-danger rounded-border">Cancel</a>  </td>
                </tr>
            }
        }
</table>