@page
@model ZPool.Pages.Cars.CreateModel
@{
}
<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.CarID" class="control-label"></label>
                <input asp-for="@Model.Car.CarID" class="form-control" />
                <span asp-validation-for="@Model.Car.CarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.Brand" class="control-label"></label>
                <input asp-for="@Model.Car.Brand" class="form-control" />
                <span asp-validation-for="@Model.Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.Model" class="control-label"></label>
                <input asp-for="@Model.Car.Model" class="form-control" />
                <span asp-validation-for="@Model.Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.NumberPlate" class="control-label"></label>
                <input asp-for="@Model.Car.NumberPlate" class="form-control" />
                <span asp-validation-for="@Model.Car.NumberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.Color" class="control-label"></label>
                <input asp-for="@Model.Car.Color" class="form-control" />
                <span asp-validation-for="@Model.Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Car.NumberOfSeats" class="control-label"></label>
                <input asp-for="@Model.Car.NumberOfSeats" class="form-control" />
                <span asp-validation-for="@Model.Car.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>