@page
@model ZPool.Pages.Bookings.GetBookingsModel
@{
    ViewData["Title"] = "GetBookings";
}


<div>
    <a asp-page="Create"> Create a booking</a>
</div>
<div>
    <a asp-page="Edit"> Edit a booking</a>
</div>

<div>
    <a asp-page="Delete"> Delete a booking</a>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<div>
    <p> @Model.Message </p> 
</div>


<h4 style="color:red"> List of Ride bookings</h4>
<table class="table">
    <thead>
        <tr>
            <th> BookingID </th>
            <th> Date </th>
            <th> PickUpLocation</th>
            <th> DropOffLocation </th>
            <th> AppUser</th>
            <th> Ride</th>
            <th> Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Bookings != null)
        {
            @foreach (var item in Model.Bookings)
            {

        <tr>
            <td>  @item.BookingID</td>
            <td>  @item.Date  </td>
            <td>  @item.PickUpLocation </td>
            <td>  @item.DropOffLocation </td>
            <td>  @item.AppUser </td>
            <td>  @item.Ride.RideID </td>
            <td>  @item.BookingStatus </td>

            @if (item.BookingStatus == "Pending" && item.Ride.Car.AppUserID == item.Ride.Car.AppUserID)
            {
                <td>
                    <div class="form group">
                        <form asp-page-handler="Accept" method="post">
                            <button class="btn btn-primary">Accept</button>
                            <input type="hidden" name="id" value="@item.BookingID" />
                        </form>
                    </div>
                </td>
                <td>
                    <div class="form group">
                        <form asp-page-handler="Reject" method="post">
                            <button class="btn btn-primary">Reject</button>
                            <input type="hidden" name="id" value="@item.BookingID" />
                        </form>
                    </div>
                </td>
            }

            @if (item.BookingStatus == "Accepted")
            {
                <td>
                    <div class="form group">
                        <form asp-page-handler="Cancel" method="post">
                            <button class="btn btn-primary">Cancel</button>
                            <input type="hidden" name="id" value="@item.BookingID" />
                        </form>
                    </div>
                </td>
            }

        </tr>

                

            }
        }
</table>

