@page
@model ZPool.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PickUpLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].DropOffLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Ride)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOffLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.RideID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
